.box2 {
    position: relative; /* Необходимо установить родительский контейнер в позиционирование */
}
  
.box2 img {
    width: 100%;
    height: auto; /* Используйте auto для сохранения пропорций изображения */
}
  
.box2 h3{
    position: absolute; /* Позиционируем заголовок абсолютно */
    top: 90%; /* Перемещаем заголовок на 50% от верхнего края родительского контейнера */
    left: 50%; /* Перемещаем заголовок на 50% от левого края родительского контейнера */
    transform: translate(-50%, -50%); /* Центрируем заголовок относительно его собственных размеров */
    background-color: rgba(0, 0, 0, 0.5); /* Добавляем прозрачный фон для лучшей читаемости */
    padding: 10px; /* Добавляем отступы для улучшения внешнего вида */
    color: white; /* Устанавливаем белый цвет текста */
    background: #333333;
    z-index: 1; /* Устанавливаем z-index, чтобы фон был под изображением */
    width: 100%; /* Ширина фона равна ширине родительского контейнера */
    height: 20%; /* Устанавливаем высоту фона, чтобы он перекрывал нижнюю часть изображения */
    text-align:center;
    font-size: 2rem;
    box-sizing: border-box; /* Учитываем отступы и границы в расчете размеров */
}

.box1 {
  position: relative; /* Необходимо установить родительский контейнер в позиционирование */
}

.box1 img {
  width: 100%;
  height: auto; /* Используйте auto для сохранения пропорций изображения */
}

.box1 h3{
  position: absolute; /* Позиционируем заголовок абсолютно */
  top: 90%; /* Перемещаем заголовок на 50% от верхнего края родительского контейнера */
  left: 50%; /* Перемещаем заголовок на 50% от левого края родительского контейнера */
  transform: translate(-50%, -50%); /* Центрируем заголовок относительно его собственных размеров */
  background-color: rgba(0, 0, 0, 0.5); /* Добавляем прозрачный фон для лучшей читаемости */
  padding: 10px; /* Добавляем отступы для улучшения внешнего вида */
  color: white; /* Устанавливаем белый цвет текста */
  background: #333333;
  z-index: 1; /* Устанавливаем z-index, чтобы фон был под изображением */
  width: 100%; /* Ширина фона равна ширине родительского контейнера */
  height: 20%; /* Устанавливаем высоту фона, чтобы он перекрывал нижнюю часть изображения */
  text-align:center;
  font-size: 2rem;
}

.box3 {
    position: relative; /* Необходимо установить родительский контейнер в позиционирование */
}
  
.box3 img {
    width: 100%;
    height: auto; /* Используйте auto для сохранения пропорций изображения */
}
  
.box3 h3{
    position: absolute; /* Позиционируем заголовок абсолютно */
    top: 90%; /* Перемещаем заголовок на 50% от верхнего края родительского контейнера */
    left: 50%; /* Перемещаем заголовок на 50% от левого края родительского контейнера */
    transform: translate(-50%, -50%); /* Центрируем заголовок относительно его собственных размеров */
    background-color: rgba(0, 0, 0, 0.5); /* Добавляем прозрачный фон для лучшей читаемости */
    padding: 10px; /* Добавляем отступы для улучшения внешнего вида */
    color: white; /* Устанавливаем белый цвет текста */
    background: #333333;
    z-index: 1; /* Устанавливаем z-index, чтобы фон был под изображением */
    width: 100%; /* Ширина фона равна ширине родительского контейнера */
    height: 20%; /* Устанавливаем высоту фона, чтобы он перекрывал нижнюю часть изображения */
    text-align:center;
    font-size: 2rem;
    box-sizing: border-box; /* Учитываем отступы и границы в расчете размеров */
}

.box4 {
    position: relative; /* Необходимо установить родительский контейнер в позиционирование */
}
  
.box4 img {
    width: 100%;
    height: auto; /* Используйте auto для сохранения пропорций изображения */
}
  
.box4 h3{
    position: absolute; /* Позиционируем заголовок абсолютно */
    top: 90%; /* Перемещаем заголовок на 50% от верхнего края родительского контейнера */
    left: 50%; /* Перемещаем заголовок на 50% от левого края родительского контейнера */
    transform: translate(-50%, -50%); /* Центрируем заголовок относительно его собственных размеров */
    background-color: rgba(0, 0, 0, 0.5); /* Добавляем прозрачный фон для лучшей читаемости */
    padding: 10px; /* Добавляем отступы для улучшения внешнего вида */
    color: white; /* Устанавливаем белый цвет текста */
    background: #333333;
    z-index: 1; /* Устанавливаем z-index, чтобы фон был под изображением */
    width: 100%; /* Ширина фона равна ширине родительского контейнера */
    height: 20%; /* Устанавливаем высоту фона, чтобы он перекрывал нижнюю часть изображения */
    text-align:center;
    font-size: 2rem;
    box-sizing: border-box; /* Учитываем отступы и границы в расчете размеров */
}

.box5 {
    position: relative; /* Необходимо установить родительский контейнер в позиционирование */
}
  
.box5 img {
    width: 100%;
    height: auto; /* Используйте auto для сохранения пропорций изображения */
}
  
.box5 h3{
    position: absolute; /* Позиционируем заголовок абсолютно */
    top: 90%; /* Перемещаем заголовок на 50% от верхнего края родительского контейнера */
    left: 50%; /* Перемещаем заголовок на 50% от левого края родительского контейнера */
    transform: translate(-50%, -50%); /* Центрируем заголовок относительно его собственных размеров */
    background-color: rgba(0, 0, 0, 0.5); /* Добавляем прозрачный фон для лучшей читаемости */
    padding: 10px; /* Добавляем отступы для улучшения внешнего вида */
    color: white; /* Устанавливаем белый цвет текста */
    background: #333333;
    z-index: 1; /* Устанавливаем z-index, чтобы фон был под изображением */
    width: 100%; /* Ширина фона равна ширине родительского контейнера */
    height: 20%; /* Устанавливаем высоту фона, чтобы он перекрывал нижнюю часть изображения */
    text-align:center;
    font-size: 2rem;
    box-sizing: border-box; /* Учитываем отступы и границы в расчете размеров */
}

.box6 {
    position: relative; /* Необходимо установить родительский контейнер в позиционирование */
}
  
.box6 img {
    width: 100%;
    height: auto; /* Используйте auto для сохранения пропорций изображения */
}
  
.box6 h3{
    position: absolute; /* Позиционируем заголовок абсолютно */
    top: 90%; /* Перемещаем заголовок на 50% от верхнего края родительского контейнера */
    left: 50%; /* Перемещаем заголовок на 50% от левого края родительского контейнера */
    transform: translate(-50%, -50%); /* Центрируем заголовок относительно его собственных размеров */
    background-color: rgba(0, 0, 0, 0.5); /* Добавляем прозрачный фон для лучшей читаемости */
    padding: 10px; /* Добавляем отступы для улучшения внешнего вида */
    color: white; /* Устанавливаем белый цвет текста */
    background: #333333;
    z-index: 1; /* Устанавливаем z-index, чтобы фон был под изображением */
    width: 100%; /* Ширина фона равна ширине родительского контейнера */
    height: 20%; /* Устанавливаем высоту фона, чтобы он перекрывал нижнюю часть изображения */
    text-align:center;
    font-size: 2rem;
    box-sizing: border-box; /* Учитываем отступы и границы в расчете размеров */
}

.navbar img{
    width: 100px;
    height: 100px;
    /* background-color: rgb(13, 34, 34); */
}

.header .navbar .logo1 {
    font-size: 2.5rem;
    text-transform: capitalize;
    color: #334;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo1 {
    cursor: pointer;
}

/* Анимация прокрутки наверх */
@keyframes scrollUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.scroll-to-top {
    animation: scrollUp 1s ease; /* Прокрутка вверх за 1 секунду */
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    z-index: 1000;
}

.whatsapp-float img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.whatsapp-float img:hover {
    transform: scale(1.1);
}

.instagram-float {
    position: fixed;
    bottom: 100px; /* Расположить над WhatsApp */
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 1000;
}

.instagram-float img {
    width: 100%;
    height: auto;
}


.contact-info {
    text-align: center;
    padding: 20px;
    background: #f8f8f8;
}

.contact-info h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.contact-info a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.contact-info a:hover {
    color: #0056b3;
}
